.header {
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  grid-template-rows: 105px;
  margin: 92px 24px 96px;
}

.menu {
  display: flex;  
  justify-content: start;
  gap: 31px;
  margin: 44px 0 0 27px;
  align-items: start;
  list-style: circle;
  text-underline-offset: 4px;
  letter-spacing: 0.02ex;
}

.menu-li-without-marker {
  list-style: none;
}

.logo{
  height: 100%;
}

.logo img {
  height: 100%;
}

.contacts {
  font-style: normal;
  font-family: Raleway, sans-serif;
  margin: 7px 25px 0 0;
  justify-self: end;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-underline-offset: 4px;
  gap: 3px;
}

.contacts-hrefs {
  letter-spacing: 0.02ex;
}

.contacts-addres {
  padding-left: 1px;
  line-height: 1.35;
}