.header {
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin: 92px 24px 96px;
}

.header__links-list {
  display: flex;  
  justify-content: start;
  gap: 31px;
  margin: 44px 0 0 27px;
  align-items: start;
}

.header__link,
.header__link_active {
  text-underline-offset: 4px;
  letter-spacing: 0.02ex;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo{
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.address {
  font-style: normal;
  font-family: Raleway, sans-serif;
  margin: 7px 25px 0 0;
  justify-self: end;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 3px;
}

.header__address {
  padding-left: 1px;
  line-height: 1.35;
}